* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
body{
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BBBBBB' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BBBBBB' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    /* overflow-x: hidden; */
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

.boton{
    opacity:0;
}

.btn{
    background-color: goldenrod; 
    border: none;
    padding: 10px 18px;
    border-radius: 15px;
}
.btn a {
    color: black; 
}
    

.navbar {
    background-image: linear-gradient(to left, #073763 0%, white 100%);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar .navbar-brand img {
    cursor: pointer;
    width: 100px;
    margin-left: 15px;


}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

.navbar .nav__cart svg {
    width: 40px;
    height: 40px;
}

.navbar .nav__cart svg:hover {
    fill: goldenrod;
}

.navbar .nav-item {
    font-size: 20px;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

@keyframes logo {
    0% {
        transform: rotateY(0);
        transform: rotateY(0);
    }100% {
        transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.logo:hover {
    animation: logo 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

    /* Index */

#contenedor{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 9rem;
}
#contenedor .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 17rem;
    padding: 17px;
    border-radius: 15px;
    margin-top: 2rem;
}
.card:hover {
    animation: card 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

    @keyframes card {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

        /* BANNER */
.hero {
    width: 100%;
    background-size: cover;
    /* margin-top: 7.5rem; */
}

.hero .banner {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.titleCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titleCards .p__1 {
    font-family: 'Secular One', sans-serif;
    font-size: 80px;
    font-weight: 200;
    color: #5a1919; }

.titleCards h1, .titleCards .p__3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px; }

.titleCards .p__2 {
    font-size: 50px; }

.titleCards .p__3 {
    font-size: 70px; 
}
.titleCards .p__3 span {
    color: goldenrod;
    text-shadow: 3px solid black; 
}

.card-img-top {
    transition: transform 0.5s; }
    .card-img-top:hover {
    transform: scale(1.1); }

.img-carrito {
    transition: transform 0.5s; }
    .img-carrito:hover {
    transform: scale(1.1); }


    


/* Reviews */

.review__title {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 8rem;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin: 4rem 8rem;
}

.reviews .review__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 510px;
    border-radius: 15px;
    margin-top: 2rem;
}

.reviews .review__card .review__image .review__img {
    padding: 10px;
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.reviews .review__card .product_details span {
    font-size: 16px;
    text-align: center;
}

.reviews .review__card .product_details h5 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
}

.reviews .review__card .product_details .star {
    color: goldenrod;
}

.reviews .review__card .product_details p {
    color: gray;
    font-size: 12px;
    margin: 10px 0;
}

/* About us */
.q {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.q .qa {
    text-align: center;
    margin-top: 4rem;
    margin: 1rem;
}

.q .qa h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.q .qa p {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 18px;
}

.title__aboutus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.title__aboutus h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
}

.hashtag {
    animation: hashtag 4s linear infinite both;
}

@keyframes hashtag {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
        text-shadow: none;
    }

    10.1% {
        opacity: 1;
        text-shadow: none;
    }

    10.2% {
        opacity: 0;
        text-shadow: none;
    }

    20% {
        opacity: 0;
        text-shadow: none;
    }

    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }

    20.6% {
        opacity: 0;
        text-shadow: none;
    }

    30% {
        opacity: 0;
        text-shadow: none;
    }

    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    30.6% {
        opacity: 0;
        text-shadow: none;
    }

    45% {
        opacity: 0;
        text-shadow: none;
    }

    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }

    55.1% {
        opacity: 0;
        text-shadow: none;
    }

    57% {
        opacity: 0;
        text-shadow: none;
    }

    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }

    60.1% {
        opacity: 0;
        text-shadow: none;
    }

    65% {
        opacity: 0;
        text-shadow: none;
    }

    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    75.1% {
        opacity: 0;
        text-shadow: none;
    }

    77% {
        opacity: 0;
        text-shadow: none;
    }

    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    85.1% {
        opacity: 0;
        text-shadow: none;
    }

    86% {
        opacity: 0;
        text-shadow: none;
    }

    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

.section__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.section__contact h3 {
    font-size: 300px;
}

.nameCard {
    position: relative;
    width: 210px;
    height: 250px;
    margin: 20px;
}

.nameCard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.nameCard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.nameCard .front h3 {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 250px;
    line-height: 260px;
    color: #2c2d4c;
    text-align: center;
}

.nameCard .back {
    transform: perspective(600px) rotateY(180deg);
    background: #876708;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.nameCard .back h3 {
    font-size: 50px;
    margin-top: 70px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.nameCard:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.nameCard:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Contact html */
.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 600px;
    height: 500px;
    margin: 10rem auto;
    padding: 20px 40px;
}

.contact__form .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.contact__form .contact_info h3 {
    font-size: 2rem;
    padding-top: 0;
}

.contact__form .contact_info h4 {
    font-size: 15px;
    color: gray;
}

.contact__form .contact_info .comment_info {
    width: 200px;
    line-height: 20px;
}

.contact__form .contact_info .phone {
    margin: 20px auto;
    font-size: 18px;
}

.contact__form .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact__form .form input {
    /* background-color: rgba(184, 183, 183, 0.5); */
    background: none;
    border: none;
    border-bottom: solid black;
}

.contact__form .form .name input {
    width: 300px;
}

.contact__form .form .email__form input {
    width: 305px;
}

.contact__form .form .phone__form .phonecode {
    width: 30px;
}

.contact__form .form .phone__form .pnumber {
    width: 270px;
}

.contact__form .form .description {
    background: none;
}

.contact__form .form .checkBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__form .form .checkBox button {
    margin-top: 1rem;
    padding: 5px 20px;
}

.contact__form .form .checkBox button:hover {
    background-color: darkgoldenrod;
    color: white;
}


/* compra.html */

.container{

    margin-top: 7rem;
    margin-bottom: 5rem;
}


/* Footer*/
.footer {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to left, #073763 0%, white 100%);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.social-links ul .social-items {
    list-style: none;
}

.social-links ul .social-items a {
    padding: 10px 20px;
    font-size: 35px;
    color: darkblue;
    transition: all .25s;
}

.social-links ul .social-items a:hover {
    color: darkgoldenrod;
}

.quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-links ul {
    display: flex;
    padding: 0;
}

.quick-links ul .quick-items {
    list-style: none;
}

.quick-links ul .quick-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
    color: black;
    transition: all .25s;
}

.quick-links ul .quick-items a:hover {
    color: darkgoldenrod;
}

.outer-footer {
    padding: 15px;
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: 100;
}



@media screen and (min-width: 0px) and (max-width: 765px) {
    #contenedor {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2rem 4rem;

    }
    .card .img{
        padding: 5px;
        width: 200px;
        height: auto;
        border-radius: 15px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        font-weight: 300; 
    }

        .titleCards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;
        }

        .titleCards .p__1 {
            font-family: 'Secular One', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: #5a1919;
        }

        .titleCards h1 {
            font-weight: 600;
            font-size: 40px;
            flex-wrap: wrap;
        }

        .titleCards .p__2 {
        
            font-size: 20px;
            display: flex;
            justify-items: center;
            flex-direction: column;
        }

        .titleCards .p__3 {
            display: flex;
            font-size: 30px;
            flex-direction: row;
            justify-content: center;
            
        }

        .titleCards .p__3 span {
            color: goldenrod;
        }

        .h__cards {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 2rem 4rem;
        }

        .reviews {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            align-content: center;
            margin: 4rem;
        }

        .reviews .review__card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            width: 350px;
            border-radius: 15px;
            margin-top: 2rem;
        }

        .reviews .review__card .review__image .review__img {
            padding: 5px;
            width: 150px;
            height: auto;
            border-radius: 15px;
        }
        .title__aboutus {
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly; }
        .title__aboutus h2 {
            font-size: 40px; }

            .section__contact {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;
                margin-bottom: 20px;
            }

            .nameCard {
                width: 300px;
                height: 300px;
                margin: 30px;
            }

            .nameCard .front h3 {
                width: 300px;
                height: 300px;
                line-height: 300px;
                color: #2c2d4c;
            }

            .nameCard .back h3 {
                font-size: 70px;
                margin-top: 70px;
                letter-spacing: 1px;
            }
}